@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>

            <p>
                This website is part of the Quadrus Intermediate/Senior Developer Practicum. The website is meant to simulate a customer portal
                that can be used to purchase a new vehicle from the fictional Quadrus Motor Company.
            </p>
        </div>
    </section>
}

<p>
    This application was built using the ASP.NET MVC framework and uses Unity for IOC dependancy injection of the service layer.
    You can place an order by navigating to the @Html.ActionLink("vehicles", "Vehicles", "Home") page and clicking the "Order Now" button.
</p>

<p>
    Adding new vehicles, options and other data should be managed using the workshop portion of this project.
</p>
