@{
    ViewBag.Title = "Order Complete";
}

<h2>@ViewBag.Title</h2>

<p>Thanks you for your order. Our sales team has been notified and are working diligently to complete your request. We appreciate your business.</p>

<p><strong>Please note that one of our sales representives may contact you in the next couple days to discuss your order.</strong></p>