@{
    ViewBag.Title = "Order Complete";
}

<h2>@ViewBag.Title</h2>

<p>This order has been completed. Click @Html.ActionLink("here", "Orders", "Workshop", new { filter = "Pending" }, null) to return to the orders page to complete another order.</p>